@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:300,400,700&subset=latin-ext');

body {
    font-family: "Open Sans", sans-serif;
}

:root {
    --azure-dark: #08a6e4;
    --azure-light: #07ace6;
    --watermelon: #fb3b64;
    --aqua-marine: #55dfb4;
    --black: #000000;
    --greyish: #a5a5a5;
    --darkish-pink: #eb476e;
    --warm-grey: #707070;
    --grey-chateau: #95989A;
    --white: #ffffff;
    --white-smoke: #f7f7f7;
    --solitude: #e8e9ed;
    --black-rgba: rgba(0, 0, 0, 0.16);
    --azure--light-rgba: rgba(7, 172, 230, 0.16);
}

.container {
    max-width: 1352px;
    margin: 0 auto;
    padding: 10px auto;
}

/*NAVIGATION*/

.navigation {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 3px 6px var(--black-rgba);
}

.navigation__content {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation__logo {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 32px;
    color: var(--azure-dark);
    cursor: pointer;
    text-decoration: none;
}

.navigation__lists {
    list-style: none;
    display: flex;
}

.navigation__item {
    margin-right: 100px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    height: 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 2.98px;
    color: var(--greyish);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation__link:hover {
    color: var(--black);
    z-index: 1;
}

.navigation__link:hover::after {
    content: "";
    width: 83.9px;
    height: 4px;
    bottom: 0;
    position: absolute;
    background-position: bottom;
    background-color: var(--azure-light);
}

 
/*HEADER*/

.header {
    width: 100%;
    height: 80vh;
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    text-align: center;
}

.header__h1 {
    font-family: "Raleway", sans-serif;
    font-size: 49px;
    margin-top: 130px;
}

.header__p {
    margin-top: 20px;
}

.header__link {
    display: inline-block;
    background-color: var(--azure-dark);
    border-radius: 40px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 22px 147px;
    margin-top: 38px;
}

/*MAIN*/

/*Section Statistics*/

.section__statistics {
    width: 100%;
    font-family: "Raleway", Arial, sans-serif;
    background-color: var(--white);
}

.section__statistics--container {
    max-width: 900px;
    margin: 0 auto;
}

.section__statistics--h2 {
    margin: 100px auto;
    font-size: 36px;
    text-align: center;
}

.section__statistics--content {
    display: flex;
    align-items: flex-start;
}

.statistics__items {
    margin-bottom: 121px;
    flex-grow: 1;
    flex-basis: 33.333%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.statistics__items:first-of-type{
    width: 116px;
    height: 140px;
    padding-right: 90px;
}

.statistics__items:nth-of-type(2){
    width: 176px;
    height: 167px;
    padding: 0 60px;
}

.statistics__items:nth-of-type(3){
    width: 163px;
    height: 168px;
    padding-left: 90px;
}

.stat__person {
    width: 44px;
    height: 52px;
    position: absolute;
    top: 3px;
    left: 30px;
}

.stat__circle1 {
    width: 62.71px;
    height: 62.71px;
    margin-bottom: 14px;
    border-radius: 50%;
    background-color: var(--watermelon);
    position: relative;
}

.stat__eye {
    width: 61px;
    height: 33px;
    position: absolute;
    top: 15px;
    left: 25px;
}

.stat__circle2 {
    width: 63px;
    height: 63px;
    margin-bottom: 14px;
    border-radius: 50%;
    background-color: var(--azure-dark);
    position: relative;
}

.stat__catalog {
    width: 52px;
    height: 48px;
    position: absolute;
    left: 30px;
    top: 5px;
}

.stat__circle3 {
    width: 62.71px;
    height: 62.71px;
    margin-bottom: 14px;
    border-radius: 50%;
    background-color: var(--aqua-marine);
    position: relative;
}

.stat__p {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    margin-bottom: 19px;
    letter-spacing: 3px;
}

.stat__p2 {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: var(--greyish);
}

/*Section Articles*/

.section__articles {
    width: 100%;
    padding: 105px 0;
    background-color: var(--white-smoke);
}

.section__articles--container {
    max-width: 1124px;
    margin: 0 auto;
}

.section__article1, 
.section__article2 {
    border: 1px solid var(--solitude);
    border-radius: 5px;
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.section__article2, 
.section__article3 {
    margin-top: 37px;
}

.section__article3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article1__a {
    margin: 91px auto 91px 35px;
    width: 382px;
    height: 188px;
}

.article1__a:after {
    content: '';
    background-color: var(--watermelon);
    width: 327.64px;
    height: 4px;
    position: absolute;
}

.article2__a {
    margin: 69px 70px 71px auto;
    width: 366px;
    height: 230px;
}

.article2__a:after {
    content: '';
    background-color: var(--azure-light);
    width: 327.81px;
    height: 4px;
    position: absolute;
}

.article__h {
    font-family: "Raleway", Arial, sans-serif;
    line-height: 42px;
    margin-bottom: 30px;
    font-size: 36px;
}

.article__p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 50px;
}

.article1__image {
    width: 433px;
    height: 294px;
    position: relative;
    margin: 38px 71px 38px auto;
}

.article1__square {
    width: 180px;
    height: 180px;
    background-color: var(--watermelon);
    border-radius: 41px;
    transform: rotate(45deg);
    position: absolute;
    right: 50px;
    top: 30px;
}

.article1__img {
    width: 386.44px;
    height: 219px;
    position: absolute;
    bottom: 10px;
    right: 60px;
    z-index: 1;
}

.article2__image {
    width: 426px;
    height: 345px;
    position: relative;
}

.article2__circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: var(--azure-light);
    position: absolute;
    margin: 12px auto 38px 70px;
}

.article2__img {
    width: 426px;
    height: 328px;
    position: absolute;
    margin: 29px auto 13px 70px;
    z-index: 1;
}

.article3__a {
    width: 623.04px;
    height: 370px;
}

.article3__square {
    width: 440px;
    height: 370px;
    background-color: var(--aqua-marine);
    position: relative;
}

.article3__box{
    width: 623px;
    height: 370px;
    border: 1px solid var(--solitude);
    border-radius: 5px;
    background-color: var(--white);
}

.article3__a {
    width: 481px;
    height: 230px;
    margin: 69.33px 107.04px 70.67px 35px;
}

.article3__a:after {
    content: '';
    background-color: var(--aqua-marine);
    width: 327.64px;
    height: 4px;
    position: absolute;
}

.article3__img {
    width: 295.13px;
    height: 205.93px;
    margin: 100px 82.57px 64.07px 62.31px;
    position: absolute;
}

/*Section Price*/

.section__price {
    width: 100%;
    padding: 140px 0;
    margin: 0 auto;
}

.section__price--container {
    max-width: 1266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__price--content {
    display: flex;
    align-self: center;
    justify-content: center;
}

.section__price--h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 36px;
    align-self: center;
    margin-bottom: 60px;
}

.price__basic, 
.price__premium, 
.price__professional {
    width: 372px;
    height: 461px;
    border: 1px solid var(--aqua-marine);
    border-radius: 18px;
    margin-right: 58px;
    position: relative;
}

.price__basic {
    border: 1px solid var(--watermelon);
}

.price__professional {
    width: 405px;
    height: 500px;
    border: 1px solid var(--azure-light);
    box-shadow: 5px 10px 27px var(--azure--light-rgba);
    margin-right: 59px;
}

#price__link--btn:after, 
#price__premium--btn:after, 
#price__professional--btn:after {
    content: "Rozpocznij";
    color: var(--white);
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: var(--watermelon);
    padding: 16px 40px;
    border-radius: 23px;
    position: absolute;
    left: 50%;
    bottom: -22.5px;
    transform: translateX(-50%);
}

#price__premium--btn:after {
    background-color: var(--aqua-marine);
}

#price__professional--btn:after {
    background-color: var(--azure-light);
    padding: 16px 48px;
}

#price__basic--h3, 
#price__premium--h3,
#price__professional--h3 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 34px 0 14px 0;
}

#price__professional--h3 {
    font-size: 21px;
}

.price__limit {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    position: absolute;
    left: 50%;
    top: 130px;
    transform: translateX(-50%);
}

.prices {
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 69px;
}

.price__basic--p {
    color: var(--watermelon);
}

.price__professional--p {
    color: var(--azure-light);
}

.price__premium--p {
    color: var(--aqua-marine);
}

.price__lists {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 73px;
}

.price__lists--pro {
    margin: 90px 0 79px 0;
}

.lists__items {
    margin-bottom: 22px;
}


/*Section Calculate*/

.section__calc {
    width: 100%;
    margin: 0 auto;
}

.container__calc {
    max-width: 1627px;
    padding: 87px 0 109px 0;
    background-color: var(--white-smoke);
    justify-content: space-between;
}

.calc__header {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 52px;
}

.calc__content {
    width: auto;
    margin: 0 389.09px 0 365px;
    display: flex;
    justify-content: space-between;
}

.calc__inputs {
    /* width: 440px;
    height: 248px; */
    display: block;
    flex-direction: column;
    margin-right: 47px;
}

input[type="number"] {
    width: 418px;
    height: 36px;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid var(--azure-light);
    box-shadow: 0 3px 6px var(--azure--light-rgba);
    border-radius: 6px;
}

.calc__select {
    width: 442px;
    margin-bottom: 20px;
    padding: 10px 15px 10px 20px;
    background-color: white;
    border: 1px solid var(--azure-light);
    box-shadow: 0 3px 6px var(--azure--light-rgba);
    border-radius: 6px;
    background-image: url("../images/icons/Arrow Down.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: relative;
    background-position: 95% 50%;
}

.select-selected {
    background-color: #eb476e;
}

.calc__select:after {
    list-style-type: none;
    position: absolute;
    background-color: white;
    width: 100%;
    max-width: 440px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #eb476e;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(235, 71, 110, 0.16);
    top: 170px;
    left: 0;
    z-index: 1;
}



.select__placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--greyish);
}

/*checkbox*/

.checkbox__box {
    display: flex;
    flex-direction: column;
}

.form__checkbox {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 12px;
    color: var(--warm-grey);
    position: relative;
    margin-bottom: 30px;
}

input[type="checkbox"] {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-right: 30px;
    position: relative;
}

.checkmark {
    position: absolute;
    display: block;
    top: -3px;
    left: 0px;
    height: 22px;
    width: 22px;
    border: 1px solid var(--grey-chateau);
    border-radius: 4px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    background-image: url("../images/icons/Checkmark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 13px;
    width: 14px;
    left: 4px;
    top: 5px;
}

input[type="checkbox"]:checked + .checkmark:after{
    display: block;
}

.calc__results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.calc__results--box {
    width: 345px;
    height: 31px;
    padding: 6px 20px;
    background-color: var(--aqua-marine);
    box-shadow: 0 3px 6px var(--black-rgba);
    border-radius: 6px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 19px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-basis: 33.333333%;
}

.calc__results--total {
    width: 139px;
    height: 31px;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 19px;
    background-color: var(--azure-light);
    box-shadow: 0 3px 6px var(--black-rgba);
    border-radius: 6px;
    margin-top: 14px;
    color: white;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;

}

#total {
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-align: start;
}

#products__price--calc, #orders__price--calc, #package__select--option {
    justify-content: center;
}

#products__price--value, #orders__price--value, #package__select--value, #accountant__value, #terminal__value, #total__value {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}


/*Section Contact*/

.section__contact--container {
    width: 100%;
    max-width: 896px;
    margin: 0 auto;
    padding: 104px;
    display: flex;
}

.section__info {
    width: 456px;
    display: flex;
    flex-direction: column;
}

.section__info--h2 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 49px;
    line-height: 57px;
    margin-bottom: 22px;
}

.section__info--p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
}

.section__info--content {
    display: flex;
}

.info__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    text-decoration: none;
    font-family: "Open Sans", Arial, sans-serif;
}

.info__text a {
    color: var(--black);
    text-decoration: none;
}

.info__text:first-of-type {
    margin-right: 34px;
}

.info__icons {
    width: 27px;
    height: 27px;
    margin-right: 8px;
}

.section__form {
    width: 440px;
}

.form__area {
    flex-direction: column;
}

.form__label {
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2.98px;
    font-weight: 700;
    color: var(--azure-dark);
}

input[type="text"],
input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid var(--greyish);
    background: transparent;
    margin-bottom: 38px;
}

.form__btn {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    color: var(--white);
    padding: 20px 94px 19px 94px;
    background-color: var(--azure-dark);
    box-shadow: 5px 10px 14px var(--azure--light-rgba);
    border-radius: 35px;
    border: none;
    margin-top: 55px;
    margin-left: 213px;
    cursor: pointer;
}

/*FOOTER*/

.footer {
    width: 100%;
    box-shadow: 0 -5px 40px var(--black-rgba);
}

.footer__content {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    flex-direction: column;
}

.footer__logo {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: var(--azure-dark);
    margin-bottom: 6.52px;
}

.footer__copyright {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 11px;
    color: var(--greyish);
}

.footer__media {
    list-style: none;
    display: flex;
}

.media__link {
    margin-right: 25px;
}

.media__link:last-child {
    margin-right: 0px;
}

.media__icon {
    width: 24px;
    height: 24px;
}